body {
  background-color: #2c3e50;
  color: #ecf0f1;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background: #34495e;
  padding: 2vw;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  width: 40vw;
  text-align: center;
}

h2 {
  color: #f39c12;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

label {
  display: block;
  margin: 10px 0 5px;
  color: #ecf0f1;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #bdc3c7;
  border-radius: 6px;
  background: #ecf0f1;
  color: #2c3e50;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
}

input:focus,
select:focus {
  border-color: #f39c12;
  box-shadow: 0 0 8px rgba(243, 156, 18, 0.5);
}

button {
  background: #f39c12;
  color: #ffffff;
  border: none;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #e67e22;
}
